body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(58, 58, 59);
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.container:nth-child(1){
    font-size: 5rem;
    text-align: center;
    color: blue;
    font-family: sans-serif;
    font-weight: 500;

}

.calculator {
    width: 70%;
    margin: auto;
    background: #513878;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid darkblue;
}

.display {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.5em;
    min-height: 40px;
    height: 70px;
}

#input {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

#output {
    font-size: 18px;
    text-align: right;
    color: #555;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
    border-radius: 12px;
    grid-gap: 5px;
    padding: 10px;
  
}

button {
    width: 100%;
    padding: 14px 11px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.operator {
    background: #43e9a1;
    color: white;
}

.number {
    background: #f2f2f2;
}

.number:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 235);
}